body{
  margin: 0;
}


/* .ProjectTitle {
  text-align:center;
  font-family: Lato;
  text-decoration: underline;
  margin-top: 25px;
  margin-bottom:25px;
  padding-top: 60%;
  font-size: 26px;
  font-weight: 900;


}

.strike-center {
  background-color: #fffA4B;
  padding: 50px;

} */
