body{
  margin: 0;
}


.ProjectTitle {
  text-align:center;
  font-family: Lato;
  text-decoration: underline;
  margin-top: 0px;
  margin-bottom:25px;
  padding-top: 20%;
  font-size: 26px;
  font-weight: 900;


}

.strike-center {
  background-color: #fffA4B;
  padding: 50px;

}

.TheQuestion {
  font-family: raleway;
  padding: 20px;
  margin-top:0;
  margin-left:10%;
  margin-right:10%;
  /* border-color: black;
  border-style: ridge; */
  font-family:Raleway;
  line-height:1.3;

}

.Submission_Form {
  margin-top: 25px;

}
